       <div>
            <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Add Property </h3>
                
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                      <form role="form">
                         <div class="col-md-6">
                            <div class="form-group">
                              <label>Property Name</label>
                              <input type="text" class="form-control" placeholder="Name"  ng-model="property.name">
                           </div>
                           
                           <div class="form-group">
                              <label>Contact Name</label>
                              <input type="text" class="form-control" placeholder="Contact Name" ng-model="property.contact.name">
                           </div>
                           
                           <div class="form-group">
                              <label> Contact Number</label>
                              <input type="text" class="form-control" placeholder="Contact Number"  ng-model="property.contact.number">
                           </div>

                             <div class="form-group">
                              <label>Location </label>
                              <input type="text" class="form-control" placeholder="Location"  ng-model="property.location">
                              <p class="help-block"><a >Click Here to select Property on Map</a></p>
                           </div>

                           
                       </div>
                      <div class="col-md-6">
                    
                            <div class="form-group">
                              <label>Property Type</label>
                              <select class="form-control" ng-model="property.type">
                                <option value="apartment" >Apartments</option>
                                <option value="land">Land</option>
                                <option value="office" >Office</option>
                              </select>
                            

                            </div>
                  
                           <div class="form-group">
                              <label>Property Status</label>
                              <select class="form-control" ng-model="property.status">
                                <option value="sale">For Sale</option>
                                <option value="rent" >For Rent</option>
                              </select>
                             
                            </div>
                           <div class="form-group">
                              <label>Property Description </label>
                              <textarea class="form-control" rows="3" placeholder="Description ..."  ng-model="property.description"></textarea>
                            </div>

                                 
                        </div>
                  </div><!-- /.row -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                  Visit <a href="https://www.nana.com/">Select2 documentation</a> for more examples and information about the plugin.
                </div>
            </div><!-- /.box -->

            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-error" ng-click="closeThisDialog()">Close</button>
                <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="confirm(property)">Save</button>
    
             </div>
