
   <div class="col-md-12">
     <h3 class="box-title">Settings for {{unitname}} </h3>
   </div>
    <div class="col-md-4">
          <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title">Rental Payment Terms</h3>
              <span class="pull-right"><b>{{settings.paymentterms}}</b></span>
            </div>
            <div class="box-body">
              <div class="row">
                   <div class="col-md-12">
                      <div class="form-group">
                      <div class="radio">
                        <label>
                          <input type="radio" name="or1" id="rd1" ng-model="settings.paymentterms" value="weekly" checked>
                          Weekly
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="or1" id="rd2" ng-model="settings.paymentterms" value="monthly">
                         Monthly
                        </label>
                      </div>
                       <div class="radio">
                        <label>
                          <input type="radio" name="or1" id="rd3" ng-model="settings.paymentterms" value="quarterly">
                          Quarterly
                        </label>
                      </div>
                       <div class="radio">
                        <label>
                          <input type="radio" name="or1" id="rd4"  ng-model="settings.paymentterms" value="halfyearly">
                          Half Yearly
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="or1" id="rd5"  ng-model="settings.paymentterms" value="yearly">
                          Yearly
                        </label>
                      </div>
                      
                    </div>
                   </div>
              </div><!-- /.row -->
             
            </div><!-- /.box-body -->
          </div><!-- /.box -->
      </div>   


            <div class="col-md-4">
          <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title">Unit Deposit Amount  </h3>
              <span class="pull-right"><b>{{deposit.amount}}</b></span>
            </div>
            <div class="box-body">
              <div class="row">
                   <div class="col-md-12">
                   <label>Same as Rent Amount  </label>
                       <div class="input-group">
                        <span class="input-group-addon">
                          <input type="radio"  name="or2" id="rd6" ng-model="depositamount" value="depositamount" ng-click="calcRentDeposit(depositamount)">
                        </span>
                        <input type="number" class="form-control" ng-model="rentamount" disabled>
                      </div><!-- /input-group -->
                        <label>% of Rent Amount </label>
                       <div class="input-group">
                        
                        <input type="number" class="form-control" ng-model="percentage" placeholder="% value">
                        <span class="input-group-addon">
                          <input type="radio"  name="or2" id="rd7" ng-model="depositrentpercentage" value="depositrentpercentage" ng-click="calcRentDeposit(depositrentpercentage)">
                        </span>
                      </div><!-- /input-group -->
                     
                        <label>Fixed Amount</label>
                       <div class="input-group">                    
                        
                        <input type="number" class="form-control" ng-model="fixedamount" placeholder="Fixed Amount">
                        <span class="input-group-addon">
                          <input type="radio"  name="or2" id="rd8" ng-model="depositfixedamount" value="depositfixedamount" ng-click="calcRentDeposit(depositfixedamount)">

                        </span>
                      </div><!-- /input-group -->
                       
                   </div>
              </div><!-- /.row -->
             
            </div><!-- /.box-body -->
          </div><!-- /.box -->
      </div>  



      <div class="col-md-4">
          <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title">On Tenant  Check in  ? </h3>
               <span class="pull-right"><b>{{settings.checkinamount}}</b></span>
            </div>
            <div class="box-body">
              <div class="row">
                   <div class="col-md-12">
                      <div class="form-group">
                       <label>Post Rent Amount Only  </label>
                       <div class="input-group">                    
                        <span class="input-group-addon">
                          <input type="radio"  name="or3" id="rd9" value="rentonly" ng-model="rentonly" ng-click="calcCheckinAmount(rentonly)">
                        </span>
                        <input type="number" class="form-control" ng-model="settings.checkinamount" disabled>
                      </div><!-- /input-group -->
 
                        <label>Post Rent And Deposit Amount </label>
                       <div class="input-group">                    
                        <span class="input-group-addon">
                          <input type="radio"  name="or3" id="rd10" value="rentanddeposit" ng-model="rentanddeposit" ng-click="calcCheckinAmount(rentanddeposit)">
                        </span>
                        <input type="number" class="form-control" disabled ng-model="settings.checkinamount">
                      </div><!-- /input-group -->

                       <label>Fixed Amount</label>
                       <div class="input-group">                    
                      
                        <input type="number" class="form-control" ng-model="tenantcheckinfixedamount" >
                          <span class="input-group-addon">
                          <input type="radio"  name="or3" id="rd11" value="checkinfixedamount" ng-model="checkinfixedamount" ng-click="calcCheckinAmount(checkinfixedamount)">
                        </span>
                      </div><!-- /input-group -->
                      
                    </div>
                   </div>
              </div><!-- /.row -->
             
            </div><!-- /.box-body -->
          </div><!-- /.box -->
      </div>    
 

   <div class="col-md-12">
     <button class="btn btn-warning" ng-click="update()">Save</button>
     <button class="btn btn-success">Cancel</button>
   </div>

  
