    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact">
                    <figure><strong>Phone:</strong>+254 763 626283 || 24 hours a day, 7 days a week</figure>
                    <figure><strong>Email:</strong>nanatec@gmail.com</figure>
                </div>
                <div class="user-area">
                    <div class="actions">
							  <ul class="nav navbar-nav">
								<li class="dropdown">
								   <a id="menu1" data-toggle="dropdown">Register
									<span class="caret"></span></a>
								  <ul class="dropdown-menu">
									
									<li><a href="/Create-property-account.html">Property</a></li>
									<li class="divider"></li>
									<li><a href="#">Agent</a></li>
									<li class="divider"></li>
									<li><a href="#">Service Provider</a></li>
									<li class="divider"></li>
									</ul>
								</li>
								<li class="dropdown">
								  <a id="menu2" data-toggle="dropdown">Sign In
									<span class="caret"></span></a>
								  <ul class="dropdown-menu">
									<li><a href="/Login.html">Property Manager</a></li>
									<li class="divider"></li>
									<li><a href="#">Property Agent</a></li>
									<li class="divider"></li>
									<li><a href="#">Service Provider</a></li>
									<li class="divider"></li>
									 <li><a href="#">Tenant</a></li>
									
								  </ul>
								</li>
							  </ul>
                           </div>
                       
                    
						<div class="language-bar">
						 
							<a href="#"><img src="home/images/assets/k.png"></a>
						  
						</div>
                </div>
            </div>
        </div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a href=""> <img  class="BrandImg" src="home/images/assets/real-estate-logo2.png" alt="Nana Properties"  /> </a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/index.html">Home</a>
                            
                        </li>
                        <li class="has-child"><a href="#">Properties</a>
                            <ul class="child-navigation">
                               
                                <li><a href="properties-listing.html"> Property Listing</a></li>
								<li><a href="Create-property-account.html">Register</a></li>
                            </ul>
                        </li>
						<li class="has-child"><a href="#">Services</a>
                            <ul class="child-navigation">
                               
                                <li><a href="ServiceListing.html"> Service Listing</a></li>
								<li><a href="properties-listing-lines.html">Service Registration</a></li>
                            </ul>
                        </li>
						<li class="has-child"><a href="#">Projects</a>
                            <ul class="child-navigation">
                               
                                <li><a href="ServiceListing.html"> Project Listing</a></li>
								<li><a href="properties-listing-lines.html">Project Registration</a></li>
                            </ul>
                        </li>
                        
                        <li class="has-child"><a href="#">Agents & Agencies</a>
                            <ul class="child-navigation">
                                <li><a href="agents-listing.html">Agents Listing</a></li>
                                <li><a href="agent-detail.html">Agent Detail</a></li>
                              
                            </ul>
                        </li>

                        <li><a href="terms-conditions.html">News</a></li>
                        <li><a href="contact.html">Blog</a></li>  
						<li><a href="contact.html">About Us</a></li>   
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav><!-- /.navbar collapse-->
                <div class="add-your-property">
                    <a href="submit.html" class="btn btn-default"><i class="fa fa-plus"></i><span class="text">Add Your Property</span></a>
                </div>
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->