
a {
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #e06f13;
  outline: none !important;
}
a:hover {
  text-decoration: none;
}
a:hover h1, a:hover h2, a:hover h3, a:hover h4 {
  color: #E06F13;
}
a:focus, a:active {
  outline: none !important;
  text-decoration: none;
}
a h1, a h2, a h3, a h4 {
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #073855;
}

h1 {
  font-size: 28px;
  font-weight: lighter;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 15px;
}

h2 {
  font-size: 24px;
  font-weight: lighter;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 15px;
}

h3 {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 20px;
}

h4 {
  font-size: 14px;
  font-weight: lighter;
}

hr {
  border-color: rgba(0, 0, 0, 0.1);
}
hr.thick {
  border-width: 2px;
}
hr.divider {
  border-color: #E06F13;
  border-width: 2px;
  width: 40px;
}

p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  font-family: "Arial", sans-serif;
}
.navigation {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  /*margin-bottom: 20px;*/
  position: relative;
  width: 100%;
  z-index: 99;
  top: 0;
}
.navigation:hover .secondary-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.navigation .navbar-collapse {
  padding-right: 0;
}
.navigation .navbar {
  border: none;
  margin-bottom: 0;
  min-height: inherit;
  padding: 30px 0;
  /**/
  display: table;
  width: 100%;
}
.navigation .navbar .collapse {
  display: table-cell !important;
  vertical-align: middle;
  float: none !important;
}
.navigation .navbar .navbar-brand {
  height: inherit;
  line-height: 0;
  padding: 0;
}
.navigation .navbar .navbar-nav {
  float: right;
}
.navigation .navbar .navbar-nav > li:hover > .child-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible;
}
.navigation .navbar .navbar-nav > li:last-child a {
  padding-right: 0;
}
.navigation .navbar .navbar-nav > li.active a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.navigation .navbar .navbar-nav > li.active a:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.navigation .navbar .navbar-nav > li.active .child-navigation a {
  color: #5a5a5a;
}
.navigation .navbar .navbar-nav > li.active .child-navigation a:after {
  display: none;
}
.navigation .navbar .navbar-nav > li.active .child-navigation li:first-child a:after {
  display: block;
}
.navigation .navbar .navbar-nav > li.active .child-navigation.position-bottom li:last-child a:after {
  display: block;
}
.navigation .navbar .navbar-nav > li.has-child {
  position: relative;
}
.navigation .navbar .navbar-nav > li.has-child:after {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  content: "\f0d7";
  color: #E06F13;
  font-size: 8px;
  height: 10px;
  position: absolute;
  top: 3px;
  bottom: 0;
  margin: auto;
  right: 2px;
}
.navigation .navbar .navbar-nav > li a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  color: #2a2a2a;
  line-height: 0;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 9px;
  position: relative;
}
.navigation .navbar .navbar-nav > li a:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #E06F13;
  bottom: -5px;
  content: "";
  left: 16px;
  height: 1px;
  position: absolute;
  width: 10px;
}
.navigation .navbar .navbar-nav > li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: transparent;
}
.navigation .navbar .navbar-nav > li a:active, .navigation .navbar .navbar-nav > li a:focus {
  background-color: transparent;
}
.navigation .navbar .navbar-nav > li > .child-navigation {
  margin-top: 11px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.navigation-to-left {
  right: 15px;
  left: inherit;
}
.navigation .navbar .navbar-nav > li > .child-navigation.navigation-to-left > li:first-child a:after {
  left: inherit;
  right: 10px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.navigation-to-left.position-bottom > li:last-child a:after {
  left: inherit;
  right: 10px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom {
  bottom: 25px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li:first-child a:after {
  border-color: transparent !important;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li:last-child:hover a:after {
  border-color: #E06F13 transparent transparent transparent;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li:last-child > a:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: transparent;
  border-color: #f3f3f3 transparent transparent transparent;
  border-style: solid;
  border-width: 7.5px 7.5px 0 7.5px;
  content: "";
  height: 0px;
  position: absolute;
  left: 10px;
  bottom: -7px;
  width: 0px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li:last-child > a:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: transparent;
  content: "";
  height: 8px;
  left: 0;
  width: 100%;
  position: absolute;
  bottom: -8px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li .child-navigation {
  bottom: 0;
  margin-top: inherit;
}
.navigation .navbar .navbar-nav > li > .child-navigation > li {
  position: relative;
}
.navigation .navbar .navbar-nav > li > .child-navigation > li:first-child:hover a:hover:after {
  border-color: transparent transparent #E06F13 transparent;
}
.navigation .navbar .navbar-nav > li > .child-navigation > li:first-child a:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3 transparent;
  border-style: solid;
  border-width: 0 7.5px 7px 7.5px;
  content: "";
  height: 0px;
  position: absolute;
  left: 10px;
  top: -7px;
  width: 0px;
}
.navigation .navbar .navbar-nav > li > .child-navigation > li:first-child a:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: transparent;
  content: "";
  height: 8px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -8px;
}
.navigation .navbar .navbar-nav > li .child-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f3f3f3;
  position: absolute;
  visibility: hidden;
  list-style: none;
  padding-left: 0;
  left: 15px;
  min-width: 240px;
  z-index: 100;
}
.navigation .navbar .navbar-nav > li .child-navigation li:hover .child-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  visibility: visible;
}
.navigation .navbar .navbar-nav > li .child-navigation li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding: 20px 10px 15px 10px;
  position: relative;
}
.navigation .navbar .navbar-nav > li .child-navigation li a:hover {
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #E06F13;
  color: #fff;
}
.navigation .navbar .navbar-nav > li .child-navigation li .child-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  margin-top: -41px;
}
.navigation .navbar .navbar-nav > li.mobile-submit {
  display: none;
}
.navigation .navbar .navbar-nav li .child-navigation li.has-child:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  background-color: transparent;
  color: #E06F13;
  content: "\f105";
  height: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: inherit;
  right: 8px;
  width: 5px;
  z-index: 2;
}
.navigation .navbar .navbar-nav li .child-navigation li.has-child:hover:after {
  color: #fff;
}
.navigation .add-your-property {
  position: absolute;
  right: 0;
  bottom: -39px;
}
.navigation .add-your-property:hover .text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  right: 50px;
  pointer-events: none;
}
.navigation .add-your-property .btn {
  width: 38px;
}
.navigation .add-your-property .text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #5a5a5a;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  right: 40px;
  text-align: right;
  top: 0;
  pointer-events: none;
}
.navigation .add-your-property .text:after {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  margin: auto;
}
.navigation .secondary-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #EEE8AA;
  display: table;
  font-size: 12px;
  padding: 5px 0;
  width: 100%;
}
.navigation .secondary-navigation a {
  color: #5a5a5a;
  margin-left: 10px;
}
.navigation .secondary-navigation a:hover {
  color: #073855;
}
.navigation .secondary-navigation a.promoted {
  color: #E06F13;
}
.navigation .secondary-navigation a.promoted:hover {
  color: #073855;
}
.navigation .secondary-navigation .contact {
  float: left;
}
.navigation .secondary-navigation .contact figure {
  margin-right: 10px;
}
.navigation .secondary-navigation .contact figure strong {
  margin-right: 5px;
}
.navigation .secondary-navigation .user-area {
  float: right;
}
.navigation .secondary-navigation .user-area .actions {
  float: left;
}
.navigation .secondary-navigation .user-area .language-bar {
  float: right;
}
.navigation .secondary-navigation figure {
  display: inline-block;
}

.navigation-fixed-bottom .navigation {
  bottom: 0;
  position: absolute;
  top: inherit;
}

.navigation-fixed-top .navigation {
  top: 0;
  position: fixed;
  bottom: inherit;
}

.navigation-fix-to-top {
  position: fixed !important;
  bottom: inherit !important;
  top: 0 !important;
}

.BrandImg{
 height: 60px
}

@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {

 .navigation {
    position: relative !important;
  }
  .navigation .navbar {
    display: block !important;
    padding: 20px 0 !important;
    width: 100%;
  }
  .navigation .navbar .navbar-collapse {
    border-top: none;
    max-height: inherit;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .navigation .navbar .collapse {
    display: none !important;
    float: inherit !important;
  }
  .navigation .navbar .collapse.in {
    display: block !important;
  }
  .navigation .navbar .collapse.in .child-navigation {
    display: block;
  }
  .navigation .navbar .navbar-nav {
    margin-bottom: 0;
    float: none !important;
  }
  .navigation .navbar .navbar-nav li:hover > .child-navigation {
    height: auto;
  }
  .navigation .navbar .navbar-nav li:hover > .child-navigation.navigation-to-left {
    right: inherit;
  }
  .navigation .navbar .navbar-nav li:hover > .child-navigation li:hover > .child-navigation {
    -moz-transition-delay: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
    height: auto;
  }
  .navigation .navbar .navbar-nav li.active a:after {
    display: none;
  }
  .navigation .navbar .navbar-nav li.has-child:after {
    right: 25px !important;
  }
  .navigation .navbar .navbar-nav li a {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .navigation .navbar .navbar-nav li a:after {
    display: none;
  }
  .navigation .navbar .navbar-nav li.mobile-submit {
    display: block;
  }
  .navigation .navbar .navbar-nav li.mobile-submit i {
    color: #E06F13;
    position: absolute;
    bottom: 12px;
    margin-left: 10px;
  }
  .navigation .navbar .navbar-nav li .child-navigation {
    display: none;
    left: 0;
    min-width: inherit;
    width: 100%;
    position: relative;
    margin-top: 0;
    box-shadow: none;
    background-color: #f3f3f3;
    height: 0;
  }
  .navigation .navbar .navbar-nav li .child-navigation li {
    border-bottom: none !important;
  }
  .navigation .navbar .navbar-nav li .child-navigation li:first-child a:after, .navigation .navbar .navbar-nav li .child-navigation li:last-child a:after {
    display: none !important;
  }
  .navigation .navbar .navbar-nav li .child-navigation li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding: 20px 15px 20px 15px;
  }
  .navigation .navbar .navbar-nav li .child-navigation li a:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: #E06F13;
  }
  .navigation .navbar .navbar-nav li .child-navigation li:hover .child-navigation {
    height: auto;
  }
  .navigation .navbar .navbar-nav li .child-navigation li .child-navigation {
    -moz-transition-delay: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
    height: 0;
    background-color: #ebebeb;
    margin-top: 0;
    left: 0px !important;
  }
  .navigation .navbar .navbar-toggle {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    bottom: 0;
    display: block !important;
    vertical-align: middle;
    position: absolute;
    right: 0;
    margin: 0;
    top: 0;
    height: 65px;
    padding: 0;
  }
  .navigation .navbar .navbar-toggle .icon-bar {
    background-color: #2a2a2a;
  }
  .navigation .secondary-navigation {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    background-color: #e06f13
  }
  .navigation .secondary-navigation .contact {
    display: none;
  }
  .navigation .secondary-navigation .user-area {
    float: none;
  }
  .navigation .secondary-navigation .user-area a {
    color: #202020;
    margin-left: 0;
    margin-right: 10px;
  }
  .navigation .secondary-navigation .user-area a:hover {
    color: #202020;
  }
   .add-your-property {
    display: none;
    bottom: inherit;
    position: absolute;
    top: 8px;
  }
  .add-your-property figure {
    display: none !important;
  }
}
@media print {
}